#pageTitle {

  font-family: 'Apple Chancery';
  font-size: 300%;
}


body {

  background-image: url('/Users/ht/Desktop/HackReactor/hrext05-cruddy-app/Photos/PageBackgound.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

#todoLegend {
  width: 100px;
  /*height: 100px;*/
}

.textInput {
  width: 300px;
  height: 50px;

}
.calendarPane {
  font-family: 'Apple Chancery';
  font-size: 200%;
  text-align: center;
  width: 25%;
  float: left;
  height: 100%;
  margin: 10px;
}

.todoPane {
  text-align: center;
  width: 50%;
  float: left;
  height: 100%;

 }

.qotdPane {
  text-align: center;
  width: 25%;
  float: left;
  height: 100%;
  margin: 20px;

}