#pageTitle {

  font-family: 'Apple Chancery';
  font-size: 300%;
}


body {

  background-image: url('/Users/ht/Desktop/HackReactor/hrext05-cruddy-app/Photos/PageBackgound.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

h3 {
  font-size: 200%;
}

p {
  font-size: 200%;
}

#accordion {
  margin: 30px;
  width: 500px;
  height: 500px;
  margin: auto;
}

.addTextBtn {
  opacity: 0.5;
}

.clearCacheBtn {
  opacity: 0.5;
}

.textInput {
  width: 500px;
  height: 50px;
  background-color: #ffffff;
  opacity: 0.3;
  font-size: 110%;

}

.calendarPane {
  font-family: 'Apple Chancery';
  font-size: 200%;
  text-align: center;
  width: 25%;
  float: left;
  height: 100%;
  margin: 10px;
}

.todoPane {
  text-align: center;
  width: 50%;
  float: left;
  height: 100%;

 }

.qotdPane {
  text-align: center;
  width: 25%;
  float: left;
  height: 100%;
  margin: 20px;

}